<ons-page id="Detail">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <p style="text-align: center;">
        <img src="img/m1.jpg" width="188" height="275" style="text-align:center;">
    </p>
    <p style="text-align: center;">
        พระโหน่ง, พระเฟิร์ส และพระบอลลูน เสร็จสิ้นภารกิจ "บนวัดไหน..ให้บวชวัดนั้น!"
        เคยสู้รบตบตีกับผีนาคนนท์ได้สาเร็จพระทั้ง 3 หวังใช้ชีวิตอย่างสงบอยู่ใต้ร่มกาสาวพัสตร์
        แต่อนิจจังชะตาชีวิตของพวกเขากลับไม่ได้โรยด้วยกลีบดอกบัวอย่างที่คิด เมื่อเกิดเหตุบางอย่างอันทาให้ พระบอลลูน
        พระเฟิร์ส ได้แอบทาการสึกแบบลับๆ และหอบข้าวหอบของหนีไปกลางดึก
        ปล่อยให้พระโหน่งอยู่รับใช้ศาสนาในวัดที่มีตานานความสยองกับสองคู่หู เณรน๊อต และ อ๊อด ต่อไป...
        กาลเวลาล่วงเลยกลับมีเหตุการณ์ไม่คาดฝัน เมื่อ บอลลูน และเฟิร์ส ได้ย้อนกลับมาที่วัดในสภาพ
        ร่อแร่ปางตายเพราะอยากใช้ชีวิตแบบฆราวาส แต่เจอผีนาคตนใหม่ตามอาละวาดจนกะเทยคู่ซี้เกือบสิ้นชื่อ
        ต้องขอกลับมาบวชซ้ารอบสอง หวังล้างคาสาปที่วัดแห่งนี้ไม่มีใครเคยได้สึก!
        ถึงแม้ผีนาคตนนี้จะเพิ่มดีกรีความดุความเฮี้ยนทวีคูณ แต่ก็ยังพอมีแสงสว่างที่ปลายธูปให้ บอลลูน และเฟิร์ส
        มีกาลังใจจะสู้ต่อ
        เมื่อได้พบกับ คุณโท (มิน จุน) นักร้องลูกครึ่งไทย-เกาหลี สุดหล่อที่มาขอบวชในวัด แห่งนี้ด้วย
    </p>
    <p style="text-align: center;">
        <img src="img/m5.jpg" width="250" height="200" style="text-align:center;">
    </p>
</ons-page>