<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/m1.jpg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><b>พี่นาค2</B><br>เมื่อบอลลูนและเฟิร์สได้ย้อนกลับมาที่วัดในสภาพ ร่อแร่ปางตายเพราะอยากใช้ชีวิตแบบฆราวาส
        แต่เจอผีนาคตนใหม่ตามอาละวาดจนกะเทยคู่ซี้เกือบสิ้นชื่อ ต้องขอกลับมาบวชซ้ำรอบสอง
        หวังล้างคาสาปที่วัดแห่งนี้ไม่มีใครเคยได้สึก!

        <img src="img/m2.jpg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><br><br><br><br><b>Bloodshot (2020)</B><br>Ray Garrison ทหารผู้เสียชีวิตระหว่างรบในสงคราม
        แต่เขาได้รับการชุบชีวิตใหม่ขึ้นมาอีกครั้งโดย RST Corporation
        บริษัทชั้นนำที่ศึกษาเกี่ยวกับเทคโนโลยีที่ฝังไว้ในเลือด นาไนท์ส ในชื่อว่า บลัดช็อต (Bloodshot)


        <img src="img/m3.jpg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><br><br><br><br><B>Venom</B><br>ผู้รายงานที่ล้มเหลวถูกผูกมัดกับหน่วยงานต่างดาวซึ่งเป็นหนึ่งในหลาย ๆ
        สัญลักษณ์ที่บุกเข้ามาในโลก แต่สิ่งมีชีวิตนั้นชื่นชอบโลกและตัดสินใจที่จะปกป้องมัน
        หลังจากการสัมภาษณ์อย่างผิดพลาดกับมูลนิธิ Life Foundation

        <img src="img/m4.jpg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><br><br><b>RAMPAGE</B><br> เรื่องราวของนักวานรวิทยา ดาวิส โอโคเย (ดเวย์น จอห์นสัน)
        ชายผู้หลบเลี่ยงห่างไกลจากผู้คน เขามีสายสัมพันธ์อันแน่นแฟ้นที่ไม่มีวันสั่นคลอนกับ จอร์จ กอริล่า
        หลังเงินที่เฉลียวฉลาดยิ่งกว่ากอริลล่าทั่วไปที่เขาเป็นผู้เลี้ยงดูมาตั้งแต่มันเกิด
        แต่แล้วยีนส์แห่งความโหดร้ายในร่างมันได้เกิดการกลายพันธุ์

    </p>
</ons-page>